<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find curdbot_description)/urdf/curdbot.xacro'"/>
   
   <include file="$(find curdbot_gazebo)/launch/env.launch" /> 


    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="1"/>
        
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
        args="-urdf -param robot_description -model curdbot -x $(arg x) -y $(arg y) -z $(arg z)" />
  
  
</launch>
